{% extends "layout.html" %}
{% load static %}
{% block title %}

Team | PROTON Layout

{% endblock %}

{% block styles %}
<style>
    .team-section {
        font-size: 0.5em;
        margin-top: 60px;
    }
    .team-section h2 {
        font-size: 2em;
        color: #00ff00;
        text-align: center;
    }
    .team-members {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 40px;
    }
    .team-member {
        flex: 1 1 30%;
        text-align: center;
        margin: 20px;
    }
    .team-member img {
        border-radius: 2%;
        width: 18rem;
        height: 18rem;
        object-fit: cover
        
    }
    .team-member h3 {
        font-size: 1.5em;
        color: #00ff00;
        margin: 10px 0 5px;
    }
    .team-member p {
        font-size: 1em;
        color: #cccccc;
    }
</style>
{% endblock %}

{% block content %}

<div class="team-section">
    <h2>
     This is Us!!!
    </h2>
    <div class="team-members">
        {% for member in members %}
            <div class="team-member">
             <img alt="photo" height="200" src="{{member.image.url}}" width="200"/>
             <h3>
                {{ member.name }}
             </h3>
             <p>
                {{ member.role }}
             </p>
             <div class="row">
                <a href="{{member.linkedin}}"><i class="fa fa-linkedin"></i></a>
                <a href="{{member.github}}"><i class="fa fa-github"></i></a>
                <a href="{{member.instagram}}"><i class="fa fa-instagram"></i></a>
             </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}