asgiref==3.8.1
beautifulsoup4==4.12.3
Django==5.1.4
django-livereload==1.7
django-livereload-server==0.5.1
django-livesync==0.5
pillow==11.1.0
python-decouple==3.8
python-dotenv==1.0.1
soupsieve==2.6
sqlparse==0.5.3
tornado==6.4.2
watchdog==6.0.0
websocket-client==1.8.0
