{% extends "layout.html" %}

{% block title %}
About | PROTON Layout
{% endblock %}
{% block styles %}
<style>
    h1 {
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
    p {
        font-size: 0.6em;
        line-height: 1.6em;
        padding: 100px;
    }
</style>
{% endblock %}

{% block content %}
<h1>About PROTON</h1>
<p>PROTON, the PRoactive Organisation for Threats and Online Networks, is a distinguished cybersecurity club within the

    Department of Cybersecurity. We are dedicated to advancing the field of cybersecurity by empowering students to transform
    
    innovative ideas into robust, real-world solutions. Our club nurtures a culture of vigilance and continuous improvement,
    
    preparing the next generation of cybersecurity professionals to tackle emerging threats with confidence.
</p>
    
<b></b>
    <p>At Proton, we emphasize hands-on experience and practical skills essential for cybersecurity. We provide a platform for students to
    
    engage in simulated cyber attacks, defense strategies, and vulnerability assessments, ensuring they are well-equipped to handle
    
    the complexities of the digital world. Through capture-the-flag competitions, penetration testing exercises, and expert-led
    
    workshops, we offer members the opportunity to sharpen their technical skills and stay ahead in the ever-evolving cybersecurity
    
    landscape.</p>
{% endblock %}
