<!DOCTYPE html>
<html>
  <head>
    <title>proton</title>
    <link rel="stylesheet" type="text/css" media="screen" href="terminalfiles/styles.css" />
    <link rel="icon" type="image/x-icon" href="img/fav-icon.png" />
  </head>
  <body>
    <div id="terminal">
      <a id="before"></a>
    </div>
    <div id="command" onclick="$('texter').focus();">
      <textarea
        type="text"
        id="texter"
        onkeyup="typeIt(this, event)"
        onkeydown="typeIt(this, event); 
                   moveIt(this.value.length, event)"
        onkeypress="typeIt(this, event);"
        autofocus
      ></textarea>
      <div id="liner">
        <span id="typer"></span><b class="cursor" id="cursor">█</b>
      </div>
    </div>
    <script src="terminalfiles/functions.js"></script>
    <script src="terminalfiles/commands.js"></script>
    <script src="terminalfiles/main.js"></script>
  </body>
</html>