{% extends "layout.html" %}


{% block styles %}

<style>
    .event-detail img {
        width: 300px;
        height: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    .event-detail {
        padding: 20px;
        font-size: x-large;
    }

    .register-button {
        font-size: large;
        display: inline-block;
        padding: 8px 15px;
        background-color: #28a745;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
    .register-button:hover {
        background-color: #218838;
    }
    
    .closed-text {
        color: red;
        font-weight: bold;
    }

    .details-button {
        display: inline-block;
        padding: 8px 15px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
</style>
    
{% endblock %}
{% block content %}

<div class="event-detail">
    <h1>{{ evt.title }}</h1>
    <img src="{{ evt.image.url }}" alt="Event Image">
    <p><strong>Name:</strong> {{ evt.name }}</p>
    <p><strong>Date:</strong> {{ evt.date }}</p>
    <p><strong>Location:</strong> {{ evt.location }}</p>
    <p><strong>Description:</strong> {{ evt.description }}</p>
</div>

{% load tz %}  {# Load timezone module #}

{% now "Y-m-d H:i" as current_time %}  {# Get current date and time #}
{% if evt.date|stringformat:"s" > current_time %}
    <a href="{{ evt.registration_link }}" class="register-button">Register</a>
{% else %}
    <span class="closed-text">Registration Closed</span>
{% endif %}

{% endblock %}